* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Colorschemes */
  --bg-color: #1b1b1b;
  --high-emph-text: 95%;
  --subheader-text: 90%;
  --medium-emph-text: 60%;
  --text-color: white;

  /* Font variables */

  --large-header: "Playfair Display", serif;

  --small-header: "Poppins", sans-serif;
  --paragraph-text: "Poppins", sans-serif;

  --large-header-size: clamp(3rem, 1.6942rem + 5.0465vw, 5.75rem);
  --heading-smaller: clamp(1.725rem, 0.8845rem + 1.296vw, 2rem);;
  --section-header-size: clamp(2.3rem, 1.4502rem + 2.1248vw, 3rem);
  --subsection-header-size: clamp(1.5rem, 1.0876rem + 1.1936vw, 2rem);
  --h1-subtext: clamp(1rem, 0.7251rem + 1.0624vw, 1.2rem);
  --paragraph-size: clamp(1rem, 0.9313rem + 0.2256vw, 1.05rem);
  --navbar-size: clamp(1rem, 0.9313rem + 0.2656vw, 1.25rem);

  /* Layout */

  --mobile-margin: 2rem;
  --tablet-margin: 5rem;
  --desktop-margin: 10rem;
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
  overflow: scroll;
  scroll-behavior: smooth;

}

.logo {
  font-family: "Poppins", sans-serif;
  font-size: var(--navbar-size);
}

.line {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
}

nav {
  padding-inline: var(--mobile-margin);
  padding-block: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  z-index: 9999;
  background-color: var(--bg-color);
  top: 0;
}
.menuKnap {
  padding-right: 1rem;
}
ul {
  list-style-type: none;
}

li {
  display: inline;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: var(--text-color);
}

.openMenu {
  text-decoration: none;
  color: white;
  right: 100px;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 500;
}

.openMenu:hover {
  cursor: pointer;
}

.closeMenu {
  position: absolute;

  text-decoration: none;
  color: white;
  top: 1rem;
  right: 3rem;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  z-index: 99;
}

.closeMenu:hover {
  cursor: pointer;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  transform: translateX(-100%);
}
.menu .button {
  color: white;
}
.ul {
  position: absolute;
  left: 20%;
  display: flex;
  width: 300px;
  justify-content: center;
  align-items: left;
  height: 100vh;
  flex-direction: column;
}

.ul li {
  margin: 20px 0;
  z-index: 2;
}
.ul li a {
  text-decoration: none;
  color: white;
  transition: 2s;
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 500;
  mix-blend-mode: difference;
  position: relative;
}

.deskNavLink {
}

.deskNavLink a::after {
  top: 65%;
  height: 2px;
  width: 0%;
  left: 5%;
  background-color: rgba(255, 245, 245, 0.6);
  transition: 0.5s ease all 0.3s;
}

.deskNavLink:hover a::after {
  width: 90%;
  transition: 0.3s ease all;
}

.deskTopNav {
  display: none;
}

/* Hero section */

.heading1 {
  max-width: 15ch;

  margin-top: 5rem;
  font-family: "Playfair Display", serif;
  font-size: var(--large-header-size);
  line-height: 110%;
  letter-spacing: 4px;
  font-weight: 600;
}

.headingSmaller {
  font-family: "Playfair Display", serif;
  font-size: var(--heading-smaller);
  opacity: var(--medium-emph-text);
  letter-spacing: 1px;
  line-height: 3rem;
}

.heroSubText {
  max-width: 35ch;
  font-family: "Poppins", serif;
  
  margin-top: 1rem;
  opacity: var(--medium-emph-text);
  font-size: var(--h1-subtext);
  letter-spacing: 1px;
  font-weight: 300;
  margin-bottom: 12rem;
}

.scrollDownIcon {
}

.projectWrapper {
  margin-inline: 2rem;
  padding-top: 0.5rem;
}

.projectWrapper h3 {
  font-size: var(--subsection-header-size);
  letter-spacing: 2px;
  opacity: var(--high-emph-text);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: rem;
}

.projectCardOverview {
  padding-bottom: 1rem;
  font-size: 1rem;
  opacity: var(--medium-emph-text);
  font-weight: 500;
}

h2 {
  font-family: "Playfair Display", serif;
  font-size: var(--section-header-size);
  font-weight: 500;
  letter-spacing: 2px;
  padding-bottom: 2rem;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: var(--paragraph-size);
  opacity: var(--subheader-text);
}
.projectGrid {
  display: flex;
  flex-direction: column;
}

.singleProject {
  max-width: 300px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-block: 2rem;
}

.projectGrid img {
  /* width: 85vw; */
  filter: drop-shadow(0px 14px 13px #000);
}

.projectCard {
  filter: drop-shadow(0px 14px 13px #000);
}

/* ---------------------------------single project section ----------------------------------*/

.headerCenterWrapper {
  display: flex;
  justify-content: center;
  margin-inline: 2rem;
}
.singleProjectHeader {
  margin-top: 8rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.singleProject img {
  max-width: 380px;
}

.singleProjectHeader h1 {
  font-family: "Playfair Display", serif;
  font-size: 4rem;
  line-height: 50px;
  letter-spacing: 4px;
  font-weight: 600;
  text-align: center;
}

.singleProjectSubHeader {
  max-width: 40ch;
  font-family: "Poppins", serif;
  text-align: center;
  margin-top: 3rem;
  opacity: var(--medium-emph-text);
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 300;
  margin-bottom: 5rem;
}

.heroSectionSingleProject {
  height: 40%;
  overflow: hidden;
width: 100%;
  background-color: #7e8c73;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroSectionSingleProject img {
  width: 100%;
  max-width: 500px;
}



.gridContainer {
    display: grid;
grid-template-columns: 1fr ;
}

.projectOverviewWrapper {

  margin-bottom: 4rem;
  max-width: 60ch;
}
.projectIntroWrapper {
  margin-inline: var(--mobile-margin);
}


.projectIntroWrapper h2 {
  font-family: "Playfair Display", serif;
  font-size: var(--section-header-size);
  font-weight: 500;
  letter-spacing: 2px;
  padding-bottom: 2rem;
  margin-top: 4rem;
}

.projectRecap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  
  
}

.projectRecap > p {
  font-family: "Poppins", serif;
  opacity: var(--medium-emph-text);
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 300;
}

.durationWrapper > p {
  font-family: "Poppins", serif;
  opacity: var(--medium-emph-text);

  letter-spacing: 1px;
  font-weight: 300;
}



.roleWrapper > p {
  font-family: "Poppins", serif;
  opacity: var(--medium-emph-text);

  letter-spacing: 1px;
  font-weight: 300;
  padding-block: 5px;
}

.toolsWrapper > p {
  font-family: "Poppins", serif;
  opacity: var(--medium-emph-text);
 
  letter-spacing: 1px;
  font-weight: 300;
  padding-block: 5px;
}

.durationWrapper {
  grid-column: 1;
  grid-row: 1;
}

.toolsWrapper {
  grid-column: 2;
  grid-row: span 2;
}

.roleWrapper {
  margin-top: -2rem;
  grid-column: 1;
  grid-row: 2;
}

h4 {
  font-family: "Poppins", serif;
  opacity: var(--high-emph-text);
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 500;
  padding-bottom: 1rem;
}

.theChallengeWrapper h2 {
  font-family: "Playfair Display", serif;
  font-size: var(--section-header-size);
  font-weight: 500;
  letter-spacing: 2px;
  padding-bottom: 2rem;
  margin-top: 5rem;
}

.theChallengeWrapper {
 
  max-width: 60ch;
}

.coreChallengeWrapper {
  
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.challengeNumberFlexbox {
  display: flex;
  align-items: first baseline;
}

.coreChallengeWrapper p {
  padding-block: 0.5rem;
  font-size: 0.875rem;
}

.coreChallengeWrapper span {
  font-size: 2rem;
  text-align: end;
  padding-right: 1rem;
  font-family: "Poppins", sans-serif;
  padding-bottom: 2rem;
}

/* ------------------------------------Process section------------------------------ */

.procesSection {
  overflow: hidden;
  margin-inline: var(--mobile-margin);
}

.procesSection p {
  max-width: 45ch;
}

.processGroupWrapper {
  
}
.procesIntro {
  margin-bottom: 4rem;
  margin-top: 6rem;

}

.numberFlexWrap {
  top: -2rem;
  left: 4rem;
  overflow: hidden;
}

.numberFlexWrap p {
  font-family: "Poppins", sans-serif;
  opacity: var(--medium-emph-text);
}
.textWrap span {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
}

.numberFlexWrap {
  position: absolute;
  /* transform: translateX(5rem);
  transform: translateY(1rem); */
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 30ch;
}

.textWrap p {
  font-size: var(--paragraph-size)
  max-width: 50ch;
}

.gridWrap {
  display: flex;
  justify-content: center;
}
.solutionImageWrapper {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  grid-row-gap: 10px;
}

.solutionImageWrapper img {
  width: 100%;
  max-width: 500px;
  height: auto;
  /* padding-block: 0.5rem; */
}

.solutionSection {
  
  margin-block: 4rem;
  /* max-width: 60ch; */
}



.intro {
  padding-bottom: 2rem;
  
}

 .challengeSection{
  margin-inline: var(--mobile-margin);
}

 .challengeSection{
  margin-top: 6rem;

}

#projectsSection {
scroll-margin-top: 200px; 
}


/* ---------------------------------Footer section ----------------------------------*/

.footerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.footerHeader {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
}

.footerParagraph {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  opacity: var(--medium-emph-text);
}

.footerIcons {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
}

.processCenterwrap {
  display: flex;
 
}

  .frontHeroContainer {
    margin-inline: var(--mobile-margin);
  }

@media (min-width: 610px) {

.processCenterwrap {
  display: flex;
  justify-content: center;
}

}



/* ---------------------------------tablet query---------------------------- */
@media (min-width: 810px) {

.intro {
  padding-bottom: 4rem;
}

  nav {
    padding-inline: var(--tablet-margin);
  }
  .frontHeroContainer {
    margin-inline: var(--tablet-margin);
  }
  .singleProjectSubHeader {
    max-width: 65ch;
  }

  .singleProject img {
  max-width: 500px;
}

  .projectIntroWrapper {
    margin-inline: var(--tablet-margin);
  }
.heroSectionSingleProject {
  height: 50vh;
}

  .heroSectionSingleProject img {
  width: 100%;
  max-width: 800px;
}

.projectWrapper {
  margin-inline: var(--tablet-margin);
  padding-top: 0.5rem;
}

  .theChallengeWrapper {
 
    
  }

  .projectGrid img {
 
  
  filter: drop-shadow(0px 14px 13px #000);
}

  .challengeContainer {
      display: grid;
grid-template-columns: 1fr ;
  }
  


  .coreChallengeWrapper {

  }

  .processWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 100px;
  }

.procesSection {
  overflow: hidden;
  margin-inline: var(--tablet-margin);
}

  .processGroupWrapper {
   
    flex: 2 0 25%;
  }

  .processCenterwrap {
    display: flex;
    
  }

  .processWrapper > * {
    max-width: 50ch;
  }

  .challengeSection{
  margin-inline: var(--tablet-margin);
}




}

/* ---------------------------------Desktop query ----------------------------------*/

@media (min-width: 992px) {
  main {
    /* margin-inline: 10rem; */
  }

  nav {
    padding-inline: var(--desktop-margin);
  }
  .deskTopNav {
    display: flex;
    flex-direction: row;
    font-family: "Poppins", sans-serif;
  }

  .menuKnap {
    display: none;
  }

  .intro {
    padding-bottom: 6rem;
  }
  .menu {
    display: none;
  }
  .desktopUl {
    display: flex;
    justify-content: space-between;
  }


  .projectWrapper {
  margin-inline: var(--desktop-margin);
  padding-top: 0.5rem;
}


  .desktopUl li {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-inline: 1rem;
  }

  .desktopUl li::after {
    padding-inline: ;
  }

  .deskNavLink {
    display: inline-block;
    position: relative;
    color: rgb(255, 255, 255);
  }

  .deskNavLink::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .deskNavLink:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .deskNavLink a {
    color: white;
  }


   .frontHeroContainer {
    margin-inline: var(--desktop-margin);
  }
  
  .heroSubText {
    max-width: 50ch;
    margin-top: 2rem;
  }

  .heroSectionSingleProject {
  height: 60vh;
  overflow: hidden;

  background-color: #7e8c73;
  display: flex;
  justify-content: center;
  align-items: center;
}


  .singleProject {
    display: grid;
    grid-template-columns: 2fr;
    gap: 10rem;
    margin-block: 2rem;
  }

  .projectImage {
    grid-column: 1;
  }
  .projectCardWrapper {
    grid-column: 2;
    width: 50ch;
  }

  .procesSection {
  overflow: hidden;
  margin-inline: var(--desktop-margin);
  margin-top: 7rem;
}

.gridContainer {
     display: grid;
grid-template-columns: 1fr ;

}

.challengeSection{
  margin-inline: var(--desktop-margin);
}
  .projectIntroWrapper {
    margin-inline: var(--desktop-margin);
  }

  .projectRecap  {
    
  }

  .theChallengeWrapper {
    
    
  }


  .processGroupWrapper {
  margin-left: 2rem;
  padding-bottom: 2rem;
}

  .challengeContainer {
      display: grid;
grid-template-columns: 1fr;
  }
  .challengeSection {
    margin-top: 7rem;
  }
  


  .coreChallengeWrapper {

    margin-top: 0;
  }


 .processWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 150px;
  }


.solutionImageWrapper {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.solutionImageWrapper img {
  max-width: 1200px;
  object-fit: cover;
  
}


.img1 {
  grid-column: 1/3;
  grid-row: 1/3;
}

.img2 {
  grid-column: 1;
  grid-row: 3;
}

.img3 {
  grid-column: 1;
  grid-row: 4;
}

.img4 {
  grid-column: 2;
  grid-row: 3/5;
}

.gridWrap {
  display: flex;
  justify-content: center;
  margin-inline: 10rem;
}

}




@media (min-width: 1400px) {


nav {
    padding-inline: var(--desktop-margin);
  }




.projectIntroWrapper {
  grid-template-columns: 2fr 1fr;
  margin-inline: var(--desktop-margin);
}

.projectOverviewWrapper {
grid-column: 1;}

.projectRecap {
  grid-column: 2;
}

.projectRecap {
  grid-template-columns: 1fr 1fr;
 grid-column-gap: 100px;
}


.gridContainer {
  grid-column-gap: 100px;
  grid-template-columns: 1fr 1fr;
}

.challengeSection{
  margin-inline: var(--desktop-margin);
}

   .challengeContainer {
      display: grid;
grid-template-columns: 1fr 1fr;
grid-column-gap: 100px;
  }

}

@media (min-width: 1920px){

  body {
max-width: 1920px; 
	margin: 0 auto !important; 
	float: none !important; 
  }

  body nav {
    max-width: 1920px;
  }

  header {
    max-width: 1920px;
  }
}