* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Colorschemes */
  --bg-color: #111111;
  --high-emph-text: 95%;
  --medium-emph-text: 60%;
  --text-color: white;

  /* Font variables */

  --large-header: "Playfair Display", serif;
  --small-header: "Poppins", sans-serif;
  --paragraph-text: "Poppins", sans-serif;

  --large-header-size: 48px;
  --section-header-size: 32px;
  --subsection-header-size: 24px;
  --paragraph-size: 16px;

  /* Layout */

  --mobile-margin: 2rem;
  --tablet-margin: 5rem;
  --desktop-margin: 10rem;
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
  overflow: scroll;
  scroll-behavior: smooth;
}

.logo {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

.line {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
}

nav {
  padding-inline: 2rem;
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  min-width: 100vw;
  z-index: 9999;
  background-color: var(--bg-color);
  top: 0;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: var(--text-color);
}

.openMenu {
  text-decoration: none;
  color: white;
  right: 100px;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 500;
}

.openMenu:hover {
  cursor: pointer;
}

.closeMenu {
  position: absolute;

  text-decoration: none;
  color: white;
  top: 1rem;
  right: 3rem;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  z-index: 99;
}

.closeMenu:hover {
  cursor: pointer;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  transform: translateX(-100%);
}
.menu .button {
  color: white;
}
.ul {
  position: absolute;
  left: 20%;
  display: flex;
  width: 300px;
  justify-content: center;
  align-items: left;
  height: 100vh;
  flex-direction: column;
}

.ul li {
  margin: 20px 0;
  z-index: 2;
}
.ul li a {
  text-decoration: none;
  color: white;
  transition: 2s;
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 500;
  mix-blend-mode: difference;
  position: relative;
}

.deskNavLink {
}

.deskNavLink a::after {
  top: 65%;
  height: 2px;
  width: 0%;
  left: 5%;
  background-color: rgba(255, 245, 245, 0.6);
  transition: 0.5s ease all 0.3s;
}

.deskNavLink:hover a::after {
  width: 90%;
  transition: 0.3s ease all;
}

.deskTopNav {
  display: none;
}

/* Hero section */

.heading1 {
  max-width: 15ch;
  margin-inline: 2rem;
  margin-top: 8rem;
  font-family: "Playfair Display", serif;
  font-size: 48px;
  line-height: 50px;
  letter-spacing: 4px;
  font-weight: 600;
}

.headingSmaller {
  font-family: "Playfair Display", serif;
  font-size: 1.3rem;
  opacity: var(--medium-emph-text);
  letter-spacing: 1px;
  line-height: 3rem;
}

.heroSubText {
  max-width: 35ch;
  font-family: "Poppins", serif;
  margin-inline: 2rem;
  margin-top: 3rem;
  opacity: var(--medium-emph-text);
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 300;
  margin-bottom: 12rem;
}

.scrollDownIcon {
}

.projectWrapper {
  margin-inline: 2rem;
  padding-top: 0.5rem;
}

.projectWrapper h3 {
  font-size: 1.2rem;
  letter-spacing: 2px;
  opacity: var(--high-emph-text);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.projectCardOverview {
  padding-bottom: 1rem;
  font-size: 1rem;
  opacity: var(--medium-emph-text);
  font-weight: 500;
}

h2 {
  font-family: "Playfair Display", serif;
  font-size: var(--section-header-size);
  font-weight: 500;
  letter-spacing: 2px;
  padding-bottom: 2rem;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
}
.projectGrid {
  display: flex;
  flex-direction: column;
}

.singleProject {
  max-width: 300px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-block: 2rem;
}

.projectGrid img {
  max-width: 85vw;
  filter: drop-shadow(0px 14px 13px #000);
}

.projectCard {
  filter: drop-shadow(0px 14px 13px #000);
}

/* ---------------------------------single project section ----------------------------------*/

.headerCenterWrapper {
  display: flex;
  justify-content: center;
}
.singleProjectHeader {
  margin-top: 8rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.singleProjectHeader h1 {
  font-family: "Playfair Display", serif;
  font-size: 48px;
  line-height: 50px;
  letter-spacing: 4px;
  font-weight: 600;
  text-align: center;
}

.singleProjectSubHeader {
  max-width: 40ch;
  font-family: "Poppins", serif;
  text-align: center;
  margin-top: 3rem;
  opacity: var(--medium-emph-text);
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 300;
  margin-bottom: 6rem;
}

.heroSectionSingleProject {
  height: 40vh;
  overflow: hidden;

  background-color: #7e8c73;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroSectionSingleProject img {
  width: 34rem;
}

.projectIntroWrapper {
  display: flex;
  flex-direction: column;
}

.projectOverviewWrapper {
  margin-inline: 2rem;
  margin-bottom: 4rem;
}

.projectOverviewWrapper h2 {
  font-family: "Playfair Display", serif;
  font-size: var(--section-header-size);
  font-weight: 500;
  letter-spacing: 2px;
  padding-bottom: 2rem;
  margin-top: 4rem;
}

.projectRecap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 100px;
  margin-inline: 2rem;
}

.projectRecap > p {
  font-family: "Poppins", serif;
  opacity: var(--medium-emph-text);
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 300;
}

.durationWrapper > p {
  font-family: "Poppins", serif;
  opacity: var(--medium-emph-text);
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 300;
}

.roleWrapper > p {
  font-family: "Poppins", serif;
  opacity: var(--medium-emph-text);
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 300;
  padding-block: 5px;
}

.toolsWrapper > p {
  font-family: "Poppins", serif;
  opacity: var(--medium-emph-text);
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 300;
  padding-block: 5px;
}

.durationWrapper {
  grid-column: 1;
  grid-row: 1;
}

.toolsWrapper {
  grid-column: 2;
  grid-row: span 2;
}

.roleWrapper {
  margin-top: -2rem;
  grid-column: 1;
  grid-row: 2;
}

h4 {
  font-family: "Poppins", serif;
  opacity: var(--high-emph-text);
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 500;
  padding-bottom: 1rem;
}

.theChallengeWrapper h2 {
  font-family: "Playfair Display", serif;
  font-size: var(--section-header-size);
  font-weight: 500;
  letter-spacing: 2px;
  padding-bottom: 2rem;
  margin-top: 5rem;
}

.theChallengeWrapper {
  display: flex;
  flex-direction: column;
  margin-inline: 2rem;
}

.coreChallengeWrapper {
  margin-inline: 2rem;
  margin-top: 5rem;
}

.coreChallengeWrapper p {
  padding-block: 0.5rem;
}

.coreChallengeWrapper span {
  font-size: 2rem;
  text-align: end;
  padding-right: 1rem;
  padding-block: 10rem;
}

/* ------------------------------------Process section------------------------------ */

.procesSection {
  margin-left: 2rem;
  margin-top: 5rem;
  overflow: hidden;
}

.procesSection p {
  max-width: 45ch;
}

.numberFlexWrap {
  top: -2rem;
  left: 4rem;
  overflow: hidden;
}

.numberFlexWrap p {
  font-family: "Poppins", sans-serif;
  opacity: var(--medium-emph-text);
}
.textWrap span {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
}

.numberFlexWrap {
  position: absolute;
  /* transform: translateX(5rem);
  transform: translateY(1rem); */
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 35ch;
}

.textWrap p {
  font-size: 0.875 rem;
  max-width: 35ch;
}

.solutionImageWrapper {
  display: grid;
  grid-template-columns: 1fr;
}

.solutionImageWrapper img {
  width: 100%;
  max-width: 300px;
  height: auto;
}

/* ---------------------------------Footer section ----------------------------------*/

.footerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.footerHeader {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
}

.footerParagraph {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  opacity: var(--medium-emph-text);
}

.footerIcons {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
}

/* ---------------------------------Desktop query ----------------------------------*/

@media (min-width: 992px) {
  main {
    /* margin-inline: 10rem; */
  }

  .deskTopNav {
    display: flex;
    flex-direction: row;
    font-family: "Poppins", sans-serif;
  }

  .menuKnap {
    display: none;
  }

  .menu {
    display: none;
  }
  .desktopUl {
    display: flex;
    justify-content: space-between;
  }

  .desktopUl li {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-inline: 1rem;
  }

  .desktopUl li::after {
    padding-inline: ;
  }

  .deskNavLink {
    display: inline-block;
    position: relative;
    color: rgb(255, 255, 255);
  }

  .deskNavLink::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .deskNavLink:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .deskNavLink a {
    color: white;
  }

  .singleProject {
    display: grid;
    grid-template-columns: 2fr;
    gap: 10rem;
    margin-block: 2rem;
  }

  .projectImage {
    grid-column: 1;
  }
  .projectCardWrapper {
    grid-column: 2;
    width: 50ch;
  }
}
