* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Colorschemes */
  --bg-color: #111111;
  --high-emph-text: 87%;
  --medium-emph-text: 60%;
  --text-color: white;

  /* Font variables */

  --large-header: "Playfair Display", serif;
  --small-header: "Poppins", sans-serif;
  --paragraph-text: "Poppins", sans-serif;

  --large-header-size: 48px;
  --section-header-size: 32px;
  --subsection-header-size: 24px;
  --paragraph-size: 16px;
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
  overflow: scroll;
  scroll-behavior: smooth;
}

.logo {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

.line {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
}

nav {
  padding-inline: 2rem;
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  min-width: 100vw;
  z-index: 9999;
  background-color: var(--bg-color);
  top: 0;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: var(--text-color);
}

.openMenu {
  text-decoration: none;
  color: white;
  right: 100px;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 500;
}

.openMenu:hover {
  cursor: pointer;
}

.closeMenu {
  position: absolute;

  text-decoration: none;
  color: white;
  top: 1rem;
  right: 3rem;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  z-index: 99;
}

.closeMenu:hover {
  cursor: pointer;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  transform: translateX(-100%);
}
.menu .button {
  color: white;
}
.ul {
  position: absolute;
  left: 20%;
  display: flex;
  width: 300px;
  justify-content: center;
  align-items: left;
  height: 100vh;
  flex-direction: column;
}

.ul li {
  margin: 20px 0;
  z-index: 2;
}
.ul li a {
  text-decoration: none;
  color: white;
  transition: 2s;
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 500;
  mix-blend-mode: difference;
}

.deskTopNav {
  display: none;
}

/* Hero section */

.heading1 {
  max-width: 15ch;
  margin-inline: 2rem;
  margin-top: 8rem;
  font-family: "Playfair Display", serif;
  font-size: 48px;
  line-height: 50px;
  letter-spacing: 4px;
  font-weight: 600;
}

.headingSmaller {
  font-family: "Playfair Display", serif;
  font-size: 1.3rem;
  opacity: var(--medium-emph-text);
  letter-spacing: 1px;
  line-height: 3rem;
}

.heroSubText {
  max-width: 35ch;
  font-family: "Poppins", serif;
  margin-inline: 2rem;
  margin-top: 3rem;
  opacity: var(--medium-emph-text);
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 300;
  margin-bottom: 12rem;
}

/* Desktop query */

.projectWrapper {
  margin-inline: 2rem;
}

h2 {
  font-family: "Playfair Display", serif;
  font-size: var(--section-header-size);
  font-weight: 500;
  letter-spacing: 2px;
}
.projectGrid {
  display: flex;
  flex-direction: column;
}

.singleProject {
  max-width: 300px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.projectGrid img {
  max-width: 85vw;
  filter: drop-shadow(0px 14px 13px #000);
}

.projectCard {
  filter: drop-shadow(0px 14px 13px #000);
}

@media (min-width: 992px) {
  main {
    margin-inline: 10rem;
  }

  .deskTopNav {
    display: flex;
  }

  .menuKnap {
    display: none;
  }

  .menu {
    display: none;
  }

  .desktopUl {
  }
}
